Repository gchq/coreax: changes, and which pre-commit hooks are due for each by the changed paths.
All: require-utf8, check-requirements-docs, pylint, check-copyright

Path conditions:
  require-utf8: any file but: (?x)^( examples/.+/.+.(gif|png) )$
  check-requirements-docs: any of: ^uv\.lock$
  pylint: any of: \.py$, but not: documentation/source/snippets
  check-copyright: any of: \.py$

chore: Add analytic test for compress plus plus #939
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

fix: remove temperature validation for probabilistic KH
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

feat: add example for iterative probabilistic KH
  .cspell/custom_misc.txt
  examples/iterative_probabilistic_kh.py
Due: require-utf8, pylint, check-copyright

fix: use correct data type in median_heuristic
  examples/iterative_probabilistic_kh.py
Due: require-utf8, pylint, check-copyright

fix: remove temperature validation check
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

fix: outdated mention of "nodes"
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

chore: delete unused method #939
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

chore: `ruff check --extend-select=UP --fix --unsafe-fixes`
  benchmark/mnist_benchmark_visualiser.py
  coreax/approximation.py
  coreax/coreset.py
  coreax/data.py
  coreax/least_squares.py
  coreax/util.py
  documentation/source/ref_style.py
  tests/coverage/compare.py
  tests/performance/cases/normaliser.py
  tests/performance/compare.py
Due: require-utf8, pylint, check-copyright

ci: add pyupgrade (UP) rules to ruff ruleset
  .cspell/library_terms.txt
  pyproject.toml
Due: require-utf8

chore: add regex matching test #939
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

tests: fix all pyright complaints in tests
  .pylintrc
  tests/coverage/compare.py
  tests/performance/cases/basic_coresets.py
  tests/performance/compare.py
  tests/unit/test_approximation.py
  tests/unit/test_benchmark.py
  tests/unit/test_coreset.py
  tests/unit/test_kernels.py
  tests/unit/test_metrics.py
  tests/unit/test_score_matching.py
  tests/unit/test_solvers.py
  tests/unit/test_util.py
  tests/unit/test_weights.py
Due: require-utf8, pylint, check-copyright

ci: run pyright on tests as well
  .github/workflows/pyright.yml
Due: require-utf8

fix: include project in requirements-doc.txt
  .pre-commit-config.yaml
  requirements-doc.txt
Due: require-utf8

fix: outstanding TODO
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

fix: NamedTuple issues on Python 3.9-3.10
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

docs: add iterative example script to CHANGELOG.md
  CHANGELOG.md
Due: require-utf8

docs: update CHANGELOG.md
  CHANGELOG.md
Due: require-utf8

fix: correct shape of unweighted_indices
  coreax/coreset.py
Due: require-utf8, pylint, check-copyright

tests: add extra test to prevent regressions on #952
  tests/unit/test_coreset.py
Due: require-utf8, pylint, check-copyright

chore: update CHANGELOG.md
  CHANGELOG.md
Due: require-utf8

remove: items slated for removal in v0.4.0
  coreax/kernel.py
  coreax/util.py
Due: require-utf8, pylint, check-copyright

feat: add version numbers for deprecations slated for next version
  coreax/coreset.py
Due: require-utf8, pylint, check-copyright

tests: add pytest-xdist for parallel test execution
  .cspell/library_terms.txt
  .github/workflows/coverage.yml
  .github/workflows/unittests.yml
  pyproject.toml
  uv.lock
Due: require-utf8, check-requirements-docs

ci: set `UV_NO_SYNC` to avoid implicit syncs with `uv run`
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/performance.yml
  .github/workflows/pre_commit_checks.yml
  .github/workflows/pyright.yml
  .github/workflows/unittests.yml
Due: require-utf8

fix: usage of deprecated `coreax.kernel`
  tests/unit/test_benchmark.py
Due: require-utf8, pylint, check-copyright

chore: pre-commit run -a
  requirements-doc.txt
Due: require-utf8

chore: add compress plus plus solver #939
  .cspell/people.txt
  coreax/solvers/__init__.py
  coreax/solvers/coresubset.py
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

chore: removed print statement #939
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

fix: uv autoupdate requirements-doc check
  .github/workflows/uv_lock_autoupdate.yml
Due: require-utf8

chore: removed print statement and added to changelog #934
  CHANGELOG.md
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

chore : Increase coverage #934
  .cspell/people.txt
  coreax/solvers/coresubset.py
  documentation/source/references.bib
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

fix: refactor and improve docs for probabilistic kh example
  examples/iterative_probabilistic_kh.py
Due: require-utf8, pylint, check-copyright

fix: change Dict to dict
  examples/iterative_probabilistic_kh.py
Due: require-utf8, pylint, check-copyright

docs: change v1.0.0 scheduled deprecations to v0.5.0
  coreax/coreset.py
Due: require-utf8, pylint, check-copyright

fix: docstring data parameter description
  examples/iterative_probabilistic_kh.py
Due: require-utf8, pylint, check-copyright

Update examples/iterative_probabilistic_kh.py
  examples/iterative_probabilistic_kh.py
Due: require-utf8, pylint, check-copyright

fix(docs): style issues in deprecation messages
  coreax/coreset.py
Due: require-utf8, pylint, check-copyright

fix: more precise t_schedule type hint
  examples/iterative_probabilistic_kh.py
Due: require-utf8, pylint, check-copyright

fix: add kernel clarification
  examples/iterative_probabilistic_kh.py
Due: require-utf8, pylint, check-copyright
