Repository gchq/coreax: changes, and which pre-commit hooks are due for each by the changed paths.
All: require-utf8, check-requirements-docs, pylint, check-copyright

Path conditions:
  require-utf8: any file but: (?x)^( examples/.+/.+.(gif|png) )$
  check-requirements-docs: any of: ^uv\.lock$
  pylint: any of: \.py$, but not: documentation/source/snippets
  check-copyright: any of: \.py$

doc: add individual plots for the david benchmarking results #988
  benchmark/david_benchmark.py
Due: require-utf8, pylint, check-copyright

feat: add iterative prob kh solver with temp schedule to benchmarking
  benchmark/blobs_benchmark.py
  coreax/benchmark_util.py
Due: require-utf8, pylint, check-copyright

test: add test for IterativeKernelHerding
  tests/unit/test_benchmark.py
Due: require-utf8, pylint, check-copyright

test: update solver initialisation tests
  tests/unit/test_benchmark.py
Due: require-utf8, pylint, check-copyright

doc: make all images the same sized #988
  examples/data/david_original.png
Due: none

chore: remove label etc from individual images #988
  benchmark/david_benchmark.py
Due: require-utf8, pylint, check-copyright

rerun test with smaller image size
  benchmark/Compress++_coreset_plot.png
  benchmark/Iterative Herding_coreset_plot.png
  benchmark/Kernel Herding_coreset_plot.png
  benchmark/Kernel Thinning_coreset_plot.png
  benchmark/Probabilistic Iterative Herding_coreset_plot.png
  benchmark/RP Cholesky_coreset_plot.png
  benchmark/Random Sample_coreset_plot.png
  benchmark/Stein Thinning_coreset_plot.png
  benchmark/david_benchmark_results.png
  benchmark/original_image_plot.png
Due: require-utf8

chore: update images #988
  examples/data/david_kt.png
  examples/data/david_original.png
  examples/data/david_random.png
Due: none

chore: update david_benchmark.py #988
  benchmark/david_benchmark.py
Due: require-utf8, pylint, check-copyright

chore: update david_benchmark.py #988
  benchmark/Compress++_coreset_plot.png
  benchmark/Iterative Herding_coreset_plot.png
  benchmark/Kernel Herding_coreset_plot.png
  benchmark/Kernel Thinning_coreset_plot.png
  benchmark/Probabilistic Iterative Herding_coreset_plot.png
  benchmark/RP Cholesky_coreset_plot.png
  benchmark/Random Sample_coreset_plot.png
  benchmark/Stein Thinning_coreset_plot.png
  benchmark/david_benchmark_results.png
  benchmark/original_image_plot.png
Due: require-utf8

chore: update david_benchmark.py #988
  benchmark/david_benchmark.py
  examples/data/david_kt.png
  examples/data/david_original.png
Due: require-utf8, pylint, check-copyright

chore: update the random image #988
  examples/data/david_random.png
Due: none

chore: delete mnist_benchmark_coresets_only.py.save #988
  benchmark/mnist_benchmark_coresets_only.py.save
Due: require-utf8

feat: update benchmark results
  benchmark/blobs_benchmark_results.json
  benchmark/david_benchmark_results.png
  benchmark/mnist_benchmark_results.json
  benchmark/mnist_time_results.json
  benchmark/pounce/Compress++_coreset.gif
  benchmark/pounce/Iterative Herding_coreset.gif
  benchmark/pounce/Iterative Probabilistic Herding (constant)_coreset.gif
  benchmark/pounce/Iterative Probabilistic Herding (cubic)_coreset.gif
  benchmark/pounce/Kernel Herding_coreset.gif
  benchmark/pounce/Kernel Thinning_coreset.gif
  benchmark/pounce/RP Cholesky_coreset.gif
  benchmark/pounce/Random Sample_coreset.gif
  benchmark/pounce/Stein Thinning_coreset.gif
Due: require-utf8

chore(deps): forbid sphinx 8.2.x
  pyproject.toml
  requirements-doc.txt
  uv.lock
Due: require-utf8, check-requirements-docs

chore(deps): forbid jax 5.0.x
  pyproject.toml
  requirements-doc.txt
  uv.lock
Due: require-utf8, check-requirements-docs

chore: uv lock --upgrade
  requirements-doc.txt
  uv.lock
Due: require-utf8, check-requirements-docs

chore(deps): uv lock --upgrade
  requirements-doc.txt
  uv.lock
Due: require-utf8, check-requirements-docs

fix: maths in docstring
  coreax/kernels/scalar_valued.py
Due: require-utf8, pylint, check-copyright

fix: formatting in docstring
  coreax/solvers/base.py
Due: require-utf8, pylint, check-copyright

feat: port updated implementation of GreedyKernelPoints
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

feat: port updated tests for GreedyKernelPoints
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

feat: start analytic test for Greedy Kernel Points
  .cspell/library_terms.txt
  documentation/source/examples/analytical_greedy_kernel_points.rst
  documentation/source/index.rst
Due: require-utf8

feat: add feature Gramian
  documentation/source/examples/analytical_greedy_kernel_points.rst
Due: require-utf8

feat: update benchmarking results
  README.md
  benchmark/blobs_benchmark_results.json
  benchmark/blobs_benchmark_visualiser.py
  benchmark/david_benchmark.py
  benchmark/mnist_benchmark_results.json
  benchmark/mnist_benchmark_visualiser.py
  benchmark/mnist_time_results.json
  documentation/source/benchmark.rst
  examples/benchmarking_images/blobs_benchmark_results.png
  examples/benchmarking_images/blobs_unweighted_ksd.png
  examples/benchmarking_images/blobs_unweighted_mmd.png
  examples/benchmarking_images/blobs_weighted_ksd.png
  examples/benchmarking_images/blobs_weighted_mmd.png
  examples/benchmarking_images/david_benchmark_results.png
  examples/benchmarking_images/mnist_benchmark_accuracy.png
  examples/benchmarking_images/mnist_benchmark_time_taken.png
  examples/benchmarking_images/pounce/Compress++_coreset.gif
  examples/benchmarking_images/pounce/Iterative_Herding_coreset.gif
  examples/benchmarking_images/pounce/Iterative_Probabilistic_Herding_(constant)_coreset.gif
  examples/benchmarking_images/pounce/Iterative_Probabilistic_Herding_(cubic)_coreset.gif
  examples/benchmarking_images/pounce/Kernel_Herding_coreset.gif
  examples/benchmarking_images/pounce/Kernel_Thinning_coreset.gif
  examples/benchmarking_images/pounce/RP_Cholesky_coreset.gif
  examples/benchmarking_images/pounce/Random_Sample_coreset.gif
  examples/benchmarking_images/pounce/Stein_Thinning_coreset.gif
  examples/benchmarking_images/pounce/frames_Compress++.png
  examples/benchmarking_images/pounce/frames_Iterative_Herding.png
  examples/benchmarking_images/pounce/frames_Iterative_Probabilistic_Herding_(constant).png
  examples/benchmarking_images/pounce/frames_Iterative_Probabilistic_Herding_(cubic).png
  examples/benchmarking_images/pounce/frames_Kernel_Herding.png
  examples/benchmarking_images/pounce/frames_Kernel_Thinning.png
  examples/benchmarking_images/pounce/frames_RP_Cholesky.png
  examples/benchmarking_images/pounce/frames_Random_Sample.png
  examples/benchmarking_images/pounce/frames_Stein_Thinning.png
  examples/data/david_kt.png
  examples/data/david_original.png
  examples/data/david_random.png
Due: require-utf8, pylint, check-copyright

feat: add the time plot for blobs benchmark
  examples/benchmarking_images/blobs_Time.png
Due: none

feat: remove unused benchmarking image
  examples/benchmarking_images/blobs_benchmark_results.png
Due: none

docs: update CHANGELOG.md
  CHANGELOG.md
Due: require-utf8

fix: remove old pounce benchmark images
  examples/benchmarking_images/CompressPlusPlus_coreset.gif
  examples/benchmarking_images/KernelHerding_coreset.gif
  examples/benchmarking_images/KernelThinning_coreset.gif
  examples/benchmarking_images/ProbabilisticIterativeHerding_coreset.gif
  examples/benchmarking_images/RPCholesky_coreset.gif
  examples/benchmarking_images/RandomSample_coreset.gif
  examples/benchmarking_images/SteinThinning_coreset.gif
  examples/benchmarking_images/frames_compress_plus_plus.png
  examples/benchmarking_images/frames_kernel_herding.png
  examples/benchmarking_images/frames_kernel_thinning.png
  examples/benchmarking_images/frames_probabilistic_iterative_herding.png
  examples/benchmarking_images/frames_random_sample.png
  examples/benchmarking_images/frames_rp_cholesky.png
  examples/benchmarking_images/frames_stein_thinning.png
  examples/benchmarking_images/pounce_frames.png
Due: none

fix: add fullstops to docstrings
  coreax/benchmark_util.py
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

fix: docstring indentation
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

docs: comment all ruff per-file ignores
  pyproject.toml
Due: require-utf8

docs: remove D102
  pyproject.toml
  tests/unit/test_kernels.py
  tests/unit/test_score_matching.py
Due: require-utf8, pylint, check-copyright

deps: re-enable jax 0.5; uv sync --upgrade
  pyproject.toml
  requirements-doc.txt
  uv.lock
Due: require-utf8, check-requirements-docs

feat: change the KSD metric to use the stein kernel in the blobs benchmark
  benchmark/blobs_benchmark.py
Due: require-utf8, pylint, check-copyright

tests: skip or fix any failing tests
  tests/unit/test_kernels.py
  tests/unit/test_score_matching.py
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

feat: use gaussian kde as score function and use regularisation for SteinThinning in blobs benchmark
  benchmark/blobs_benchmark.py
Due: require-utf8, pylint, check-copyright
