Repository gchq/coreax: changes, and which pre-commit hooks are due for each by the changed paths.
All: require-utf8, check-requirements-docs, pylint, check-copyright

Path conditions:
  require-utf8: any file but: (?x)^( examples/.+/.+.(gif|png) )$
  check-requirements-docs: any of: ^uv\.lock$
  pylint: any of: \.py$, but not: documentation/source/snippets
  check-copyright: any of: \.py$

ci: update pyright check to cover benchmarking too
  .github/workflows/pyright.yml
Due: require-utf8

docs: add missing `Any` annotations to **kwargs
  coreax/approximation.py
  coreax/metrics.py
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

chore : docstring related changes #964
  coreax/solvers/coresubset.py
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

chore: enable Pyright CI for whole repo
  .github/workflows/pyright.yml
Due: require-utf8

fix: fix pyright complaints for documentation config
  documentation/source/conf.py
  documentation/source/ref_style.py
Due: require-utf8, pylint, check-copyright

fix: exclude documentation/source/snippets from pyright
  pyproject.toml
Due: require-utf8

fix: rename Pyright CI workflow
  .github/workflows/pyright.yml
Due: require-utf8

fix: avoid running pyright on whole virtual environment
  pyproject.toml
Due: require-utf8

chore: remove unnecessary pylint ignore
  documentation/source/conf.py
Due: require-utf8, pylint, check-copyright

chore: prepare v0.4.0 release
  .github/ISSUE_TEMPLATE/bug_report.yml
  CHANGELOG.md
  coreax/__init__.py
Due: require-utf8, pylint, check-copyright

docs: perform release testing before merging into main
  CONTRIBUTING.md
Due: require-utf8

fix: exclude test_benchmark from release testing
  .github/workflows/release.yml
Due: require-utf8

chore : Add :class: before referencing a class #964
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

chore : fix pyright #964
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

chore : fix pre-commit complains #964
  CHANGELOG.md
Due: require-utf8

chore : add probabilistic herding and compress plus plus to benchmarking scripts #964
  .cspell/custom_misc.txt
  benchmark/blobs_benchmark.py
  benchmark/blobs_benchmark_visualiser.py
  benchmark/david_benchmark.py
  benchmark/mnist_benchmark.py
  benchmark/mnist_benchmark_coresets_only.py
  benchmark/mnist_benchmark_results.json
  benchmark/mnist_benchmark_visualiser.py
  benchmark/mnist_time_results.json
  benchmark/pounce_benchmark.py
  coreax/benchmark_util.py
  coreax/solvers/__init__.py
  coreax/solvers/coresubset.py
  documentation/source/benchmark.rst
  documentation/source/conf.py
  documentation/source/ref_style.py
  examples/benchmarking_images/KernelHerding_coreset.gif
  examples/benchmarking_images/KernelThinning_coreset.gif
  examples/benchmarking_images/RPCholesky_coreset.gif
  examples/benchmarking_images/SteinThinning_coreset.gif
  examples/benchmarking_images/blobs_benchmark_results.png
  examples/benchmarking_images/david_benchmark_results.png
  examples/benchmarking_images/mnist_benchmark_accuracy.png
  examples/benchmarking_images/mnist_benchmark_time_taken.png
  tests/unit/test_benchmark.py
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

chore : pyright related issues #964
  documentation/source/conf.py
  documentation/source/ref_style.py
  tests/unit/test_benchmark.py
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

chore : add blobs images to git large file system #971
  examples/benchmarking_images/CompressPlusPlus_coreset.gif
  examples/benchmarking_images/ProbabilisticIterativeHerding_coreset.gif
  examples/benchmarking_images/blobs_1.png
  examples/benchmarking_images/blobs_2.png
  examples/benchmarking_images/blobs_3.png
  examples/benchmarking_images/blobs_4.png
  examples/benchmarking_images/blobs_5.png
Due: none

docs: remove coming soon sections
  README.md
  documentation/source/index.rst
Due: require-utf8

chore: update CHANGELOG.md
  CHANGELOG.md
Due: require-utf8

fix: remove duplicate and move entry to correct release in changelog
  CHANGELOG.md
Due: require-utf8

ci: use uv-provided hooks to keep uv.lock and requirements up-to-date
  .pre-commit-config.yaml
Due: require-utf8

feat: add `KernelHerding.reduce(iterative)` and corresponding tests
  coreax/solvers/coresubset.py
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

ci(docs): fix LFS in ReadTheDocs build
  .readthedocs.yaml
Due: require-utf8

fix: style improvements
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

test: `reduce_iterative` without state
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

chore : chore tidy up benchmarking documentation file and add action frame png files #971
  benchmark/david_benchmark.py
  benchmark/mnist_benchmark.py
  benchmark/mnist_benchmark_coresets_only.py
  benchmark/pounce_benchmark.py
  coreax/benchmark_util.py
  coreax/solvers/coresubset.py
  documentation/source/benchmark.rst
  examples/benchmarking_images/blobs_time_taken.png
  examples/benchmarking_images/blobs_unweighted_ksd.png
  examples/benchmarking_images/blobs_unweighted_mmd.png
  examples/benchmarking_images/blobs_weighted_ksd.png
  examples/benchmarking_images/blobs_weighted_mmd.png
  examples/benchmarking_images/frames_compress_plus_plus.png
  examples/benchmarking_images/frames_kernel_herding.png
  examples/benchmarking_images/frames_kernel_thinning.png
  examples/benchmarking_images/frames_probabilistic_iterative_herding.png
  examples/benchmarking_images/frames_random_sample.png
  examples/benchmarking_images/frames_rp_cholesky.png
  examples/benchmarking_images/frames_stein_thinning.png
Due: require-utf8, pylint, check-copyright

chore : add iterative herding solver #971
  coreax/benchmark_util.py
Due: require-utf8, pylint, check-copyright

fix : update test_benchmark #971
  tests/unit/test_benchmark.py
Due: require-utf8, pylint, check-copyright

fix : add iterative herding to test_benchmark #971
  tests/unit/test_benchmark.py
Due: require-utf8, pylint, check-copyright

fix(ci): use correct location for git LFS on RTD
  .readthedocs.yaml
Due: require-utf8

fix : Add fixture to a test #971
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

fix : Add fixture to a test #971
  tests/unit/test_benchmark.py
Due: require-utf8, pylint, check-copyright

chore/docs : fix wordings on documentation, docstrings #971
  benchmark/blobs_benchmark.py
  coreax/benchmark_util.py
  coreax/solvers/coresubset.py
  documentation/source/benchmark.rst
  tests/unit/test_benchmark.py
Due: require-utf8, pylint, check-copyright

test : Added request parameter to all solver factories #971
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

chore: add bounds to sphinx on pyproject.toml #987
  documentation/source/conf.py
  pyproject.toml
  requirements-doc.txt
  uv.lock
Due: require-utf8, check-requirements-docs, pylint, check-copyright

refactor: move `IterativeKernelHerding` to `benchmark_util.py`
  benchmark/blobs_benchmark.py
  coreax/benchmark_util.py
  coreax/solvers/__init__.py
  coreax/solvers/coresubset.py
  tests/unit/test_benchmark.py
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

fix: remove docs refs to `IterativeKernelHerding`
  documentation/source/benchmark.rst
Due: require-utf8

doc: improve formatting of david example in readme #988
  README.md
  examples/data/david_kt.png
  examples/data/david_random.png
Due: require-utf8
