Repository gchq/coreax: changes, and which pre-commit hooks are due for each by the changed paths.
All: require-utf8, check-requirements-docs, pylint, check-copyright

require-utf8:
  name: Check file encoding
  description: Ensure file is valid UTF-8
  entry: python pre_commit_hooks/require_utf8.py
  language: python

check-requirements-docs:
  name: Keep requirements-docs.txt in sync with uv.lock
  language: system
  entry: 'uv export --frozen --quiet --format requirements-txt --no-hashes --no-dev --no-emit-project --extra doc --output-file requirements-doc.txt
  
    '
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

check-copyright:
  name: Check for copyright notice
  description: Ensure a copyright notice is present at the top of each Python file
  entry: python pre_commit_hooks/check_copyright.py
  language: python

fix: improve typing for score function
  benchmark/blobs_benchmark.py
Due: require-utf8, pylint, check-copyright

tests: tweak relative tolerance on test_gradients
  tests/unit/test_kernels.py
Due: require-utf8, pylint, check-copyright

feat: add KDE bandwidth method as a parameter to SteinThinning
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

feat: use scipy gaussian_kde for SteinThinning score function in benchmarking
  coreax/benchmark_util.py
Due: require-utf8, pylint, check-copyright

fix: references to external method
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

feat: update benchmarks save paths
  benchmark/david_benchmark.py
  benchmark/pounce_benchmark.py
Due: require-utf8, pylint, check-copyright

feat: save frame plots for pounce benchmark
  benchmark/pounce_benchmark.py
Due: require-utf8, pylint, check-copyright

feat: update benchmarking results
  benchmark/blobs_benchmark_results.json
  benchmark/blobs_benchmark_visualiser.py
  benchmark/mnist_benchmark_results.json
  benchmark/mnist_time_results.json
Due: require-utf8, pylint, check-copyright

feat: fix UMAP random_state and reduce UMAP n_components for pounce_benchmark.py
  benchmark/mnist_benchmark.py
  benchmark/pounce_benchmark.py
Due: require-utf8, pylint, check-copyright

feat: update benchmarking results
  benchmark/mnist_benchmark_results.json
  documentation/source/benchmark.rst
  examples/benchmarking_images/blobs_Time.png
  examples/benchmarking_images/blobs_time_taken.png
  examples/benchmarking_images/blobs_unweighted_ksd.png
  examples/benchmarking_images/blobs_unweighted_mmd.png
  examples/benchmarking_images/blobs_weighted_ksd.png
  examples/benchmarking_images/blobs_weighted_mmd.png
  examples/benchmarking_images/david_benchmark_results.png
  examples/benchmarking_images/mnist_benchmark_accuracy.png
  examples/benchmarking_images/mnist_benchmark_time_taken.png
  examples/benchmarking_images/pounce/Compress++_coreset.gif
  examples/benchmarking_images/pounce/Iterative_Herding_coreset.gif
  examples/benchmarking_images/pounce/Iterative_Probabilistic_Herding_(constant)_coreset.gif
  examples/benchmarking_images/pounce/Iterative_Probabilistic_Herding_(cubic)_coreset.gif
  examples/benchmarking_images/pounce/Kernel_Herding_coreset.gif
  examples/benchmarking_images/pounce/Kernel_Thinning_coreset.gif
  examples/benchmarking_images/pounce/RP_Cholesky_coreset.gif
  examples/benchmarking_images/pounce/Random_Sample_coreset.gif
  examples/benchmarking_images/pounce/Stein_Thinning_coreset.gif
  examples/benchmarking_images/pounce/frames_Compress++.png
  examples/benchmarking_images/pounce/frames_Iterative_Herding.png
  examples/benchmarking_images/pounce/frames_Iterative_Probabilistic_Herding_(constant).png
  examples/benchmarking_images/pounce/frames_Iterative_Probabilistic_Herding_(cubic).png
  examples/benchmarking_images/pounce/frames_Kernel_Herding.png
  examples/benchmarking_images/pounce/frames_Kernel_Thinning.png
  examples/benchmarking_images/pounce/frames_RP_Cholesky.png
  examples/benchmarking_images/pounce/frames_Random_Sample.png
  examples/benchmarking_images/pounce/frames_Stein_Thinning.png
Due: require-utf8

feat: add time results for blobs benchmark
  examples/benchmarking_images/blobs_time.png
Due: none

test: add test for SteinThinning score function in benchmark_util.py
  tests/unit/test_benchmark.py
Due: require-utf8, pylint, check-copyright

test: update score function test
  tests/unit/test_benchmark.py
Due: require-utf8, pylint, check-copyright

docs: add clarification about unsupervised benchmarking
  documentation/source/benchmark.rst
Due: require-utf8

deps: allow sphinx 8.2; uv lock --upgrade
  pyproject.toml
  requirements-doc.txt
  uv.lock
Due: require-utf8, check-requirements-docs

fix: compatibility with sphinx 8.2.x
  documentation/source/conf.py
Due: require-utf8, pylint, check-copyright

docs: improve alt text
  documentation/source/benchmark.rst
Due: require-utf8

fix: type in benchmark alt text
  documentation/source/benchmark.rst
Due: require-utf8

docs: add full stops
  coreax/benchmark_util.py
Due: require-utf8, pylint, check-copyright

docs: save path clarification for david_benchmark.py
  benchmark/david_benchmark.py
Due: require-utf8, pylint, check-copyright

docs: add changes to `CHANGELOG.md`
  CHANGELOG.md
Due: require-utf8

fix: typo in benchmark docs page
  documentation/source/benchmark.rst
Due: require-utf8

remove: skip for stein refinement tests
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

chore: link TODO
  tests/unit/test_kernels.py
Due: require-utf8, pylint, check-copyright

feat: complete write up of analytic Greedy Kernel Points example
  documentation/source/examples/analytical_greedy_kernel_points.rst
Due: require-utf8

feat: add integration test of analytic greedy kernel points
  examples/greedy_kernel_points_analytic.py
  tests/integration/test_greedy_kernel_points_analytic.py
Due: require-utf8, pylint, check-copyright

feat: move derivative to example script docstring
  documentation/source/examples/analytical_greedy_kernel_points.rst
  examples/greedy_kernel_points_analytic.py
Due: require-utf8, pylint, check-copyright

feat: remark about kernel ridge regression coefficients
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

feat: include more greedy kernel points loss analytic tests
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

chore: update CHANGELOG
  CHANGELOG.md
Due: require-utf8

fix: ignore pyright reportOverlappingOverload
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

fix: relax relative tolerance in loss
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

feat: test coresubset solver helper functions
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

chore(deps): skip beartype 0.20.1, 0.20.2
  pyproject.toml
  uv.lock
Due: require-utf8, check-requirements-docs

fix: clarify docstring
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

chore: uv lock --upgrade
  requirements-doc.txt
  uv.lock
Due: require-utf8, check-requirements-docs

fix: use Coresubset.build
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

fix: improve clarity of docstring
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

feat: write out candidate coreset
  examples/greedy_kernel_points_analytic.py
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

feat: simplify example intro
  examples/greedy_kernel_points_analytic.py
Due: require-utf8, pylint, check-copyright

Path conditions:
  require-utf8: any file but: (?x)^( examples/.+/.+.(gif|png) )$
  check-requirements-docs: any of: ^uv\.lock$
  pylint: any of: \.py$, but not: documentation/source/snippets
  check-copyright: any of: \.py$
