Repository gchq/coreax: changes, and which pre-commit hooks are due for each by the changed paths.
All: require-ascii, pylint

require-ascii:
  name: Check file encoding
  description: Ensure file is ascii-encoded
  entry: python pre_commit_hooks/require_ascii.py
  language: python

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

Rerun MNIST benchmark on GPU machine.
  benchmark/mnist_benchmark_results.json
Due: require-ascii

feat: changed the parameters delta and square root kernel in Kernel Thinning back to required. #893
  coreax/solvers/coresubset.py
Due: require-ascii, pylint

feat: used path lib consistently #893
  benchmark/mnist_benchmark_results.json
  benchmark/pounce_benchmark.py
Due: require-ascii, pylint

feat: updated mnist_benchmark_accuracy.png after rerunning MNIST benchmark script with updated hyper-parameters #900
  examples/benchmarking_images/mnist_benchmark_accuracy.png
Due: none

fix: insert missing Optional annotation
  coreax/solvers/coresubset.py
Due: require-ascii, pylint

fix: include scalar float and int as input to atleast_2d_consistent
  coreax/data.py
  tests/unit/test_data.py
Due: require-ascii, pylint

fix: prohibit scalars in KeyArrayLike annotation
  coreax/util.py
Due: require-ascii, pylint

fix: import ArrayLike from jax.typing directly
  coreax/solvers/composite.py
  tests/unit/test_metrics.py
Due: require-ascii, pylint

chore: auto-update requirements-doc.txt after uv update
  requirements-doc.txt
Due: require-ascii

Run blobs_benchmark script on GPU instance and upload it #900
  benchmark/blobs_benchmark_results.json
Due: require-ascii

feat: Update blobs_benchmark script so that it averages over multiple seeds #900
  benchmark/blobs_benchmark.py
  benchmark/blobs_benchmark_results.json
Due: require-ascii, pylint

Chore: Regenerate blobs benchmark results image after changing the script to run over multiple seeds and average
  examples/benchmarking_images/blobs_benchmark_results.png
Due: none

Chore: merge video_benchmarking branch into present_benchmarking branch
  benchmark/mnist_benchmark.py
Due: require-ascii, pylint

Chore: Updated wordings on benchmark documentation source file, added reference to UMAP on conf.py and other documentation related changes
  benchmark/mnist_benchmark.py
  benchmark/mnist_benchmark_coresets_only.py
  benchmark/pounce_benchmark.py
  documentation/source/benchmark.rst
  documentation/source/conf.py
  tests/performance/compare.py
Due: require-ascii, pylint

chore: Delete all the benchmarking gif and png files from the repo
  examples/benchmarking_images/KernelHerding_coreset.gif
  examples/benchmarking_images/RPCholesky_coreset.gif
  examples/benchmarking_images/RandomSample_coreset.gif
  examples/benchmarking_images/SteinThinning_coreset.gif
  examples/benchmarking_images/blobs_benchmark_results.png
  examples/benchmarking_images/david_benchmark_results.png
  examples/benchmarking_images/mnist_benchmark_accuracy.png
  examples/benchmarking_images/mnist_benchmark_time_taken.png
  examples/benchmarking_images/pounce_frames.png
Due: none

chore: add reference to UMAP on documentation
  documentation/source/benchmark.rst
Due: require-ascii

fix: permit scalars in ScoreMatching.float type hints
  coreax/kernels/scalar_valued.py
  coreax/score_matching.py
Due: require-ascii, pylint

chore: test by adding one png file to Large File System
  examples/benchmarking_images/blobs_benchmark_results.png
Due: none

Add all gif and png files from benchmarking to Large File System #905
  .gitattributes
  examples/benchmarking_images/KernelHerding_coreset.gif
  examples/benchmarking_images/RPCholesky_coreset.gif
  examples/benchmarking_images/RandomSample_coreset.gif
  examples/benchmarking_images/SteinThinning_coreset.gif
  examples/benchmarking_images/david_benchmark_results.png
  examples/benchmarking_images/mnist_benchmark_accuracy.png
  examples/benchmarking_images/mnist_benchmark_time_taken.png
  examples/benchmarking_images/pounce_frames.png
Due: require-ascii

fix: type when None can be returned from _reduce_coreset
  coreax/solvers/composite.py
Due: require-ascii, pylint

fix: type of nodes in Coresubset
  coreax/coreset.py
Due: require-ascii, pylint

chore: update CHANGELOG.md
  CHANGELOG.md
Due: require-ascii

chore: keep requirements doc in sync with uv lock
  requirements-doc.txt
  uv.lock
Due: require-ascii

chore: initial commit of benchmark documentation with images and gifs
  .cspell/custom_misc.txt
  .gitattributes
  documentation/source/benchmark.rst
  documentation/source/conf.py
  documentation/source/index.rst
  examples/benchmarking_images/KernelHerding_coreset.gif
  examples/benchmarking_images/RPCholesky_coreset.gif
  examples/benchmarking_images/RandomSample_coreset.gif
  examples/benchmarking_images/SteinThinning_coreset.gif
  examples/benchmarking_images/blobs_benchmark_results.png
  examples/benchmarking_images/david_benchmark_results.png
  examples/benchmarking_images/mnist_benchmark_accuracy.png
  examples/benchmarking_images/mnist_benchmark_time_taken.png
  examples/benchmarking_images/pounce_frames.png
Due: require-ascii, pylint

chore: Run blobs benchmark over several seeds and average the metrics.
  benchmark/blobs_benchmark.py
Due: require-ascii, pylint

docs: Update changelog
  CHANGELOG.md
Due: require-ascii

docs: Changed wordings on the docstrings and typos
  benchmark/mnist_benchmark_coresets_only.py
  benchmark/pounce_benchmark.py
Due: require-ascii, pylint

fix: move some dependencies from test to also include benchmark
  pyproject.toml
  uv.lock
Due: require-ascii

fix: refactor benchmarking solver setup to avoid magic
  benchmark/david_benchmark.py
  benchmark/mnist_benchmark.py
  benchmark/mnist_benchmark_coresets_only.py
  benchmark/pounce_benchmark.py
Due: require-ascii, pylint

docs: Added print statement to mnist_benchmark_coresets_only.py that prints the progress when running.
  benchmark/mnist_benchmark_coresets_only.py
Due: require-ascii, pylint

Path conditions:
  require-ascii: any file but: (?x)^( examples/.+/.+.(gif|png) )$
  pylint: any of: \.py$, but not: documentation/source/snippets
