Repository gchq/coreax: changes, and which pre-commit hooks are due for each by the changed paths.
All: require-utf8, check-requirements-docs, pylint, check-copyright

require-utf8:
  name: Check file encoding
  description: Ensure file is valid UTF-8
  entry: python pre_commit_hooks/require_utf8.py
  language: python

check-requirements-docs:
  name: Keep requirements-docs.txt in sync with uv.lock
  language: system
  entry: 'uv export --frozen --quiet --format requirements-txt --no-hashes --no-dev --no-emit-project --extra doc --output-file requirements-doc.txt
  
    '
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

check-copyright:
  name: Check for copyright notice
  description: Ensure a copyright notice is present at the top of each Python file
  entry: python pre_commit_hooks/check_copyright.py
  language: python

fix: incorrect response
  examples/greedy_kernel_points_analytic.py
Due: require-utf8, pylint, check-copyright

fix: clarify that we do not specify the original dataset
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

Revert "fix: use Coresubset.build"
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

feat: improve docstring for _initial_coresubset
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

fix: avoid trying to select duplicate index when seeking unique coreset
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

feat: add array shapes to annotations
  coreax/solvers/coresubset.py
Due: require-utf8, pylint, check-copyright

chore: remove beta status
  CHANGELOG.md
  README.md
  pyproject.toml
Due: require-utf8

chore: remove deprecated Coreset features
  CHANGELOG.md
  coreax/coreset.py
  tests/unit/test_coreset.py
Due: require-utf8, pylint, check-copyright

chore: bump version to 1.0.0
  coreax/__init__.py
Due: require-utf8, pylint, check-copyright

chore: update CHANGELOG for 1.0.0
  CHANGELOG.md
Due: require-utf8

chore: link PR in CHANGELOG
  CHANGELOG.md
Due: require-utf8

docs: update deprecation protocol in CONTRIBUTING
  CONTRIBUTING.md
Due: require-utf8

fix(docs): remove link to removed Coreset class
  coreax/coreset.py
Due: require-utf8, pylint, check-copyright

fix(docs): remove `typehints_formatter`.
  documentation/source/conf.py
Due: require-utf8, pylint, check-copyright

feat: remove `SilentTQDM`.
  coreax/score_matching.py
  coreax/util.py
  documentation/source/conf.py
  tests/unit/test_util.py
Due: require-utf8, pylint, check-copyright

docs: update logo presentation in readme.
  README.md
Due: require-utf8

chore: dropped support for python 3.9
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/release.yml
  .github/workflows/unittests.yml
  .pylintrc
  CHANGELOG.md
  pyproject.toml
  requirements-doc.txt
  uv.lock
Due: require-utf8, check-requirements-docs

chore(docs): update changelog.
  CHANGELOG.md
Due: require-utf8

ci: remove `check_todos.yml`.
  .github/workflows/check_todos.yml
  pyproject.toml
Due: require-utf8

ci: remove `pyright.yml`.
  .github/workflows/pyright.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: require-utf8

fix: order tool tables alphabetically.
  pyproject.toml
Due: require-utf8

feat: enable jaxtyped `Data` and `SupervisedData`.
  CHANGELOG.md
  coreax/data.py
  pyproject.toml
  requirements-doc.txt
  tests/unit/test_data.py
  uv.lock
Due: require-utf8, check-requirements-docs, pylint, check-copyright

ci: make use of setup-uv action.
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/performance.yml
  .github/workflows/pre_commit_autoupdate.yml
  .github/workflows/pre_commit_checks.yml
  .github/workflows/unittests.yml
  .github/workflows/uv_lock_autoupdate.yml
Due: require-utf8

fix(ci): update cache-suffixes.
  .github/workflows/coverage.yml
  .github/workflows/pyright.yml
  .github/workflows/unittests.yml
Due: require-utf8

feat(deps): replace jaxopt with mpax.
  .cspell/library_terms.txt
  coreax/weights.py
  documentation/source/conf.py
  pyproject.toml
  requirements-doc.txt
  tests/unit/test_weights.py
  uv.lock
Due: require-utf8, check-requirements-docs, pylint, check-copyright

ci: remove `check_todos.yml`. (#1021)
  .github/workflows/check_todos.yml
  pyproject.toml
Due: require-utf8

ci: remove `pyright.yml`. (#1022)
  .github/workflows/pyright.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: require-utf8

feat: remove `SilentTQDM`. (#1016)
  CHANGELOG.md
  coreax/score_matching.py
  coreax/util.py
  documentation/source/conf.py
  tests/unit/test_util.py
Due: require-utf8, pylint, check-copyright

fix: attempt to improve test reliability.
  tests/unit/test_util.py
Due: require-utf8, pylint, check-copyright

fix(ci): ignore ora linkcheck.
  documentation/source/conf.py
Due: require-utf8, pylint, check-copyright

fix(ci): enable experimental pyright features.
  pyproject.toml
Due: require-utf8

fix(docs): update README image links.
  README.md
Due: require-utf8

fix(tests): change `MapReduce` fixture scopes.
  tests/unit/test_solvers.py
Due: require-utf8, pylint, check-copyright

fix(docs): remove link aliases.
  README.md
Due: require-utf8

fix: relax beartype requirements.
  pyproject.toml
  tests/unit/test_data.py
  uv.lock
Due: require-utf8, check-requirements-docs, pylint, check-copyright

fix: decorate abstract fixtures.
  tests/unit/test_kernels.py
  tests/unit/test_least_squares.py
  tests/unit/test_solvers.py
  tests/unit/test_weights.py
Due: require-utf8, pylint, check-copyright

chore(deps): manual update uv.lock
  requirements-doc.txt
  uv.lock
Due: require-utf8, check-requirements-docs

Path conditions:
  require-utf8: any file but: (?x)^( examples/.+/.+.(gif|png) )$
  check-requirements-docs: any of: ^uv\.lock$
  pylint: any of: \.py$, but not: documentation/source/snippets
  check-copyright: any of: \.py$
